.pregunta1 {
    background-color: cadetblue;
}

.pregunta2 {
    background-color: brown;
}

.pregunta3 {
    color:  blue;
}

.pregunta6 {
    background-color: blueviolet;
}

.pregunta7 {
    background-color: chocolate;
}

.pregunta8 {
    background-color: coral;
}